* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Poppins", sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.image {
    scroll-snap-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

a {
    color: black;
    cursor: pointer;
}

#banner {
    height: 52px;
    background-color: #ffffff;
    position: fixed;
    width: 1920px;
}

#banner div {
    width: 1888px;
    height: 20px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    position: fixed;
    /* background-color: yellow; */
    top: 52px;
    height: 56px;
    width: 100%;
}

header div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

header div a {
    align-items: center;
    margin-left: 36px;

}

#menu-1 {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-left: 56px;
}

#menu-2 {
    width: 233px;
    display: flex;
    justify-content: space-between;
   margin-right: 65px;
}

header>div svg {
    width: 120px;
    height: 24px;
    float: left;
}

#page1 {
    background-image: url(/img/1.jpeg);
}

#page2 {
    background-image: url(/img/2.jpeg);
}

#page3 {
    background-image: url(/img/3.jpeg);
}

#page4 {
    background-image: url(/img/4.jpeg);
}

#page5 {
    background-image: url(/img/5.jpeg);
}

#page6 {
    background-image: url(/img/6.webp);
}

#page7 {
    background-image: url(/img/7.jpeg);
}

.header {
    font-weight: 600;
    float: left;
}

.header>li {
    float: left;
    
}

ol li {
    cursor: pointer;
}
.header>li a{
    text-decoration: none;
}
.page-header{
    top:150px;
    width: 1660px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 50px;
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);

}
.inventory{
    display: block;
    font-size: 16px;
}
.footer{
    background-color: yellow;
    width: 1621px;
    height: 70px;
    bottom: 0;
}